
{% extends "base.html" %}

{% block content %}
  



<div class="flex p-10 mb-10 mx-auto mt-10">
        <main class="flex flex-col w-full pl-6 pr-4 pt-4 ">
            <article class="my-4 shadow-md">

                <div class="flex flex-col p-6 pt-2 bg-white">
                    <a href="#" class="my-2 text-sm font-bold uppercase border-b-2 border-yellow-500
    ➥text-blue-600">Layout</a>
                    <a href="#" class="pb-4 text-3xl font-serif font-bold hover:text-gray-700 ">Lorem Ipsum
                        ➥Dolor Sit Amet Dolor Sit Amet</a>
                    <p class="pb-3 text-sm">By <a href="#" class="font-semibold hover:text-gray-800">David
                            ➥Jacobs</a>, May 25, 2021</p>
                    <p class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis porta
                        ➥dui. Ut eu iaculis massa. Sed ornare ligula lacus, quis iaculis dui porta volutpat. In sit
                        ➥amet posuere magna..</p>
                    <a href="#" class="uppercase text-xs text-blue-600 hover:text-yellow-500">Continue Reading
                        ➥<i class="fas fa-arrow-right"></i></a>
                </div>
            </article>

            <article class="my-4 shadow-md">

                <div class="flex flex-col p-6 pt-2 bg-white">
                    <a href="#" class="my-2 text-sm font-bold uppercase border-b-2 border-yellow-500
            ➥text-blue-600">Imagery</a>
                    <a href="#" class="pb-4 text-3xl font-serif font-bold hover:text-gray-700 ">Lorem Ipsum
                        ➥Dolor Sit Amet Dolor Sit Amet</a>
                    <p class="pb-3 text-sm">By <a href="#" class="font-semibold hover:text-gray-800">Monica
                            ➥Sanchez</a>, May 10, 2021</p>
                    <p class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis porta
                        ➥dui. Ut eu iaculis massa. Sed ornare ligula lacus, quis iaculis dui porta volutpat. In sit
                        ➥amet posuere magna..</p>
                    <a href="#" class="uppercase text-xs text-blue-600 hover:text-yellow-500">Continue Reading
                        ➥<i class="fas fa-arrow-right"></i></a>
                </div>
            </article>

            <article class="my-4 shadow-md">

                <div class="flex flex-col p-6 pt-2 bg-white">
                    <a href="#" class="my-2 text-sm font-bold uppercase border-b-2 border-yellow-500
            ➥text-blue-600">Typography</a>
                    <a href="#" class="pb-4 text-3xl font-serif font-bold hover:text-gray-700 ">Lorem Ipsum
                        ➥Dolor Sit Amet Dolor Sit Amet</a>
                    <p class="pb-3 text-sm">By <a href="#" class="font-semibold hover:text-gray-800">David
                            ➥Jacobs</a>, April 20, 2021</p>
                    <p class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis porta
                        ➥dui. Ut eu iaculis massa. Sed ornare ligula lacus, quis iaculis dui porta volutpat. In sit
                        ➥amet posuere magna..</p>
                    <a href="#" class="uppercase text-xs text-blue-600 hover:text-yellow-500">Continue Reading
                        ➥<i class="fas fa-arrow-right"></i></a>
                </div>
            </article>


            <article class="my-4 shadow-md">

                <div class="flex flex-col p-6 pt-2 bg-white">
                    <a href="#" class="my-2 text-sm font-bold uppercase border-b-2 border-yellow-500
            ➥text-blue-600">Typography</a>
                    <a href="#" class="pb-4 text-3xl font-serif font-bold hover:text-gray-700 ">Lorem Ipsum
                        ➥Dolor Sit Amet Dolor Sit Amet</a>
                    <p class="pb-3 text-sm">By <a href="#" class="font-semibold hover:text-gray-800">David
                            ➥Jacobs</a>, April 20, 2021</p>
                    <p class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis porta
                        ➥dui. Ut eu iaculis massa. Sed ornare ligula lacus, quis iaculis dui porta volutpat. In sit
                        ➥amet posuere magna..</p>
                    <a href="#" class="uppercase text-xs text-blue-600 hover:text-yellow-500">Continue Reading
                        ➥<i class="fas fa-arrow-right"></i></a>
                </div>
            </article>


            <article class="my-4 shadow-md">

                <div class="flex flex-col p-6 pt-2 bg-white">
                    <a href="#" class="my-2 text-sm font-bold uppercase border-b-2 border-yellow-500
            ➥text-blue-600">Typography</a>
                    <a href="#" class="pb-4 text-3xl font-serif font-bold hover:text-gray-700 ">Lorem Ipsum
                        ➥Dolor Sit Amet Dolor Sit Amet</a>
                    <p class="pb-3 text-sm">By <a href="#" class="font-semibold hover:text-gray-800">David
                            ➥Jacobs</a>, April 20, 2021</p>
                    <p class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis porta
                        ➥dui. Ut eu iaculis massa. Sed ornare ligula lacus, quis iaculis dui porta volutpat. In sit
                        ➥amet posuere magna..</p>
                    <a href="#" class="uppercase text-xs text-blue-600 hover:text-yellow-500">Continue Reading
                        ➥<i class="fas fa-arrow-right"></i></a>
                </div>
            </article>

        </main>

    </div>





{% endblock content %}
