
{% load blog_tags %}
{% load hitcount_tags %}
	<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">			 
					<!-- <div id="posts" class="post-grid row grid-container gutter-50 clearfix" data-layout="fitRows"> -->
						<div class="row justify-content-center">

						{% for articles in object_list %}



<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="{{ articles.image.url }}" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ articles.title }}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> {{ articles.content | safe | truncatewords:20}}</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>

						<!-- <div class="entry col-sm-6 col-12"> -->
							<div class="entry event col-12">

							<!-- <div class="grid-inner"> -->
								<!-- <div class="grid-inner row align-items-center g-0 p-3"> -->
								<div class="border rounded-5 row align-items-center g-0 p-3">

									<div class="entry-title">
										<img src=''/>
							
										<h3>
											<a href="{{ articles.get_absolute_url }}">{{ articles.title }}</a>
										</h3>
										<div class="entry-meta">
											<ul>
												<li><i class="icon-calendar3"></i> {{ articles.published }}</li>
												<li><i class="icon-comments">{% get_commented_articles articles.id %}</i></li>																														</li>
												<li>
														<i class="icon-camera-retro"> 
													{% get_hit_count for articles %} views
												</i></li>
												
											</ul>
											<div class="tagcloud">
												{% for x in articles.tags.all %}
													<a href="{% url 'tag_search' x.slug %}">{{ x }}</a>										
												{% endfor %}
											</div>
										</div>
									</div>
							
								<div class="entry-content mt-0 mb-0">
									<p>
                                        {{ articles.content |safe|truncatewords:"20"|linebreaks}}
										 
                                    </p>
									<a href="{{ articles.get_absolute_url }}" class="more-link">Read More</a>
								
								</div>
							</div>

						</div>
                        {% endfor %}
				</div><!-- #posts end -->

				
				</div>
			</div>
		</section>
