
 <!-- footer -->

 <div class="profile bg-gray-400 rounded-xl text-white mx-auto flex items-center">
    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=80" alt="" class="profile-img" />
    <div>
      <h3>Matt Cooper</h3>
      <p>A front end web developer from New York, USA. Currently working as a freelancer. Drop a mail or say hello 👋</p>
    </div>
  </div>
  
<footer class="bg-gray-800">
    <div class="flex flex-wrap text-white">
        
       
        <div class="w-full p-5 text-center">
            &copy; 2024 My Blog. All rights reserved.
        </div>
    </div>
</footer>

    